body{
  height: 100vh
}
nav{
  background-color: grey;
  padding-top: 100px;
  
}
li{
  display: inline-block;
  width: 10%;
  min-width: 200px;
  vertical-align: middle;
}
  
ul{
  width: 100%;
  text-align: center;
}

#hero{
margin-left: auto;

}

#row{
 margin-top: 50px;
  
}
#two{
  margin-top: 50px

  
  
}
section{
  margin: 20px, 20px
  
}
div{

}